<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/utils.css">
    <link rel="stylesheet" href="../public/css/home.css">

    <title>QuadB Assignment</title>
</head>

<body>

    <header>
        <!-- nav -->
        <nav class="flex">

            <div class="logo">
                <h1>HODLINFO</h1>
            </div>

            <div class="container gap-20">
                <div>
                    <select id="">
                        <option value="">INR</option>
                    </select>
                </div>

                <div>
                    <select id="">
                        <option value="">BTC</option>
                        <option value="">ETS</option>
                        <option value="">USDT</option>
                        <option value="">XRP</option>
                        <option value="">TRX</option>
                    </select>
                </div>
                <div>
                    <button class="btn-buy-btc">BUY BTC</button>
                </div>
            </div>

            <div class="container gap-29">

                <div class="circle-container container">

                    <div id="timer" class="timer">
                        <div id="circle" class="circle container">
                            <div id="time" class="time">59</div>
                        </div>
                        
                    </div>
                </div>

                <div class="btn-telegram">
                    <span>Connect to telegram</span>
                </div>
                <div>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </nav>

    </header>

    <!-- hero -->
    <div class="t-center hero">

        <h2>Best Price to Trade</h2>
    </div>

    <main>

        <div class="container gem-5 mt-27">
            <div class="t-center">
                <div class="text-percent">0.1 %</div>
                <div class="periode">5 Mins</div>
            </div>

            <div class="t-center">
                <div class="text-percent">0.96 %</div>
                <div class="periode">1 Hour</div>
            </div>

            <div class="t-center">
                <div class="text-percent" style="font-size: 4.8em; font-family: Oswald; color: var(--bg-3);">₹ 35,17,230
                </div>
                <div class="periode" style="font-size: 17px;">Average BTC/INR net price including commission</div>
            </div>

            <div class="t-center">
                <div class="text-percent">2.73 %</div>
                <div class="periode">1 Day</div>
            </div>

            <div class="t-center">
                <div class="text-percent">7.51 %</div>
                <div class="periode">7 Days</div>
            </div>

        </div>

        <!-- body -->
        <div class="column-container mt-27">

            <div class="row-head">
                <span>#</span>
                <div class="platform">Platform</div>
                <span>Last Traded Price</span>
                <span>Buy / Sell Price</span>
                <span>Difference</span>
                <span>Savings</span>
            </div>
            <div class="row">
                <span>1</span>
                <div class="platform"><img src="wazirx.png" alt="WazirX"> WazirX</div>
                <span>₹1,98,901</span>
                <span>₹1,98,901 / ₹1,99,000</span>
                <span>-2.41%</span>
                <h2>₹4,915</h2>
            </div>
            <div class="row">
                <span>1</span>
                <div class="platform"><img src="wazirx.png" alt="WazirX"> WazirX</div>
                <span>₹1,98,901</span>
                <span>₹1,98,901 / ₹1,99,000</span>
                <span>-2.41%</span>
                <h2>₹4,915</h2>
            </div>
            <div class="row">
                <span>1</span>
                <div class="platform"><img src="wazirx.png" alt="WazirX"> WazirX</div>
                <span>₹1,98,901</span>
                <span>₹1,98,901 / ₹1,99,000</span>
                <span>-2.41%</span>
                <h2>₹4,915</h2>
            </div>
            <div class="row">
                <span>1</span>
                <div class="platform"><img src="wazirx.png" alt="WazirX"> WazirX</div>
                <span>₹1,98,901</span>
                <span>₹1,98,901 / ₹1,99,000</span>
                <span>-2.41%</span>
                <h2>₹4,915</h2>
            </div>

        </div>

    </main>

    <footer class="flex">
        <div>
            <span>Copyright © 2019 HodlInfo.com</span>
        </div>
        <div>
            <span>
                Support
            </span>
        </div>
    </footer>

    <script src="../public/javascript/home.js"></script>
</body>

</html>