@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

header {

    background-color: var(--bg-1);
    color: var(--bg-2);
    font-family: 'Oswald', sans-serif;
}

nav {

    justify-content: space-around;
    align-items: center;
    height: 14vh;
    padding: 41px 0px;
}

.logo {

    font-family: sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.7em;
}

select {

    width: 61px;
    color: var(--bg-3);
    background-color: var(--bg-5);
    border-radius: 8px;
    padding: 4px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;

}

.btn-buy-btc {

    width: 68px;
    color: var(--bg-3);
    background-color: var(--bg-5);
    border-radius: 8px;
    padding: 3px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-family: 'Oswald';
}

.btn-telegram {

    background-color: var(--bg-2);
    color: var(--bg-3);
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    font-family: sans-serif;
}

.circle {

    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid var(--bg-2);
    border-left: 4px solid var(--bg-5);
    transform: rotate(90deg);
}

.circle div {

    transform: rotate(-90deg);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-3);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--bg-2);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--bg-5)
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--bg-5)
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* hero */
.hero {

    font-family: sans-serif;
    color: var(--bg-5);
}

.row, .row-head {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: var(--bg-5);
    margin: 10px 0px;
    gap: 9em;
    padding: 12px;
}

.row-head {

    color: var(--bg-4);
    background-color: var(--bg-1);
    margin: 10px 0px;
    font-size: 24px;
    gap: 5em;
    font-family: 'Oswald';
}

.platform {
    display: flex;
}

footer {

    color: var(--bg-4);
    justify-content: space-between;
    align-items: center;
}